<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gun Crow</title>
    <link rel="stylesheet" href="style.css">
    <link rel="icon" href="desktop-icon-512.png">
</head>
<body>
    <div id="front">
        <div id="title">
            <h1>Gun Crow</h1>
            <h2><%= titleText %></h2>
        </div>
        
        <p>Description uwu</p>
        <p>
            Crow, a recovering heroin addict, goes outside on the gray streets of his post Soviet country only to realize that everything could and did get worse, 
            he meets Snek who tells him the news that the world is about to come to an end and there is only one way to save it, 
            which is, going through the depths of the underworld to destroy the black hole while risking their lives fighting to death with the horrifying void creatures.
        </p>
        <p>Available on Windows, Linux and Mac</p>
        
        Downloads:
        <div id="downloads">
            <div>
                <a href="https://attestedatom675.itch.io/gun-crow-demo" class="download" id="demo">DOWNLOAD GUN CROW DEMO</a>
            </div>

            <div class="download" id="full">
                DOWNLOAD GUN CROW (Work in progress)
            </div>
        </div>
        
        <div id="gameplay">
            <h2>Gameplay</h2>
            <p>Awesome art</p>
            <img src="crow_backdrop_updated.png" alt="">
            <img src="backdrop.png" alt="">
            <p>New update</p>
            <img src="vietnam_crower_in_the_trees.png" alt="">
            <p>Fuck that bird man</p>
            <img src="crow_stick.gif" alt="">
            <p>Crow thug shaker</p>
            <video controls>
                <source src="crow_thug_shaker.mp4">
            </video>
        </div>

        <div id="credits">
            <h2>Credits</h2>
            <div>
                <b>Game programmers</b>
                <p>AttestedAtom675</p>
            </div>
            
            <div>
                <b>Game designers</b>
                <p>AttestedAtom675</p>
                <p>thecrowstudios</p>
            </div>

            <div>
                <b>Music designers</b>
                <p>AttestedAtom675</p>
            </div>

            <div>
                <b>Website developers</b>
                <p>thecrowstudios</p>
            </div>

            <div>
                <p>And everyone else that contributed to the project!</p>
            </div>
        </div>

        <div id="links">
            <a href="https://discord.gg/3UmVe6wqnK">Join the Gun Crow Discord server</a>
        </div>

        <a href="//www.thecrowstudios.com">
            <div id="logo">
                <img src="thecrowstudios.png" alt="">
            </div>
        </a>
    </div>
</body>
</html>